.input__wrapper {
  border: 1px solid var(--gray-light);
  height: 35px;
  margin-top: 8px;
  padding: 2px;
  display: flex;
  align-items: center;
}

.input__label {
  font-size: var(--s-size);
  margin-bottom: 8px;
  color: var(--secondary-color);
  font-weight: bold;
  position: relative;
}

.input {
  width: 80%;
  border: none;
  outline: none;
}

.input__total-value {
  font-size: var(--s-size);
  color: var(--gray-light);
  margin-top: 8px;
  place-self: flex-end;
}

.input__error {
  color: var(--danger);
  font-size: var(--xs-size);
}
