.modal__complete {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.modal {
  width: 700px;
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20% auto;
  position: relative;
}
.modal__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 60px;
  border-top: 2px solid var(--gray-light);
}
.modal__content {
  margin-left: 20px;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 60px;
  border-top: 2px solid var(--gray-light);
}
