.product-info {
  margin-top: 30px;
}

.product-info__group {
  padding: 20px 60px;
}

.product-info__group-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.product-info__group-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.product-info__group-info {
  font-size: var(--s-size);
}

.product-info__group-title {
  font-size: var(--m-size);
}

.product-info__group-text {
  margin-top: 20px;
}

.product-info__terms-conditions {
  margin-top: 12px;
  font-size: var(--s-size);
}

.product__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 1px solid var(--gray-light);
}
