.manager {
  width: 700px;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.manager__title {
  margin-top: 20px;
  padding-left: 60px;
  font-size: var(--xl-size);
}

.manager__title-line {
  width: 40px;
  height: 5px;
  margin: 8px 0 0 60px;
  background-color: var(--aqua);
}
