* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
===============
Variables
===============
*/

:root {
  --primary-color: #ff0049;
  --secondary-color: #002b45;
  --terciary-color: #fff1e5;
  --white: #ffffff;
  --black: #000000;
  --gray-light: #c5c2bf;
  --danger: #ff0000;
  --xl-size: 24px;
  --l-size: 20px;
  --m-size: 16px;
  --s-size: 12px;
  --xs-size: 10px;
}
