.form__text-initial {
  font-size: var(--s-size);
  padding: 0 60px;
}

.form {
  padding: 0px 60px 20px;
}

.form__text {
  font-size: var(--s-size);
}
.form__group {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 70%;
}

.form__clue {
  display: flex;
  flex-direction: column;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 1px solid var(--gray-light);
}
