.form__text {
  width: 80%;
  font-size: var(--m-size);
  margin: 50px 0;
}
.form__group {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 60px 0;
}

.form__clue {
  margin: 50px 0;
}

.form__buttons {
  display: flex;
  justify-content: space-between;
}
